## Import des bibliothéques

In [1]:
#!pip install sqlalchemy

In [4]:
import pandas as pd
import os
from sqlalchemy import create_engine, text
import numpy as np

In [5]:
engine = create_engine('postgresql+psycopg2://etl_user:password@localhost/olist_dwh')

## Creation de la dimension Customers

In [6]:
# Chemin vers le Data Lake 
data_lake_path = r"C:\Users\louni\Downloads\DataLake"

In [7]:

# Charger les données brutes 
customers = pd.read_csv(os.path.join(data_lake_path, 
"customers/olist_customers_dataset.csv"))

In [8]:
customers.shape

(99441, 5)

In [9]:
customers.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [10]:
display(customers)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [11]:
# Afficher les types des colonnes du DataFrame 'products'
print("Types des colonnes dans 'products' :")
print(customers.dtypes)

Types des colonnes dans 'products' :
customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [12]:
# Vérifier les valeurs manquantes
print("\n--- Vérification des valeurs manquantes ---")
print(customers.isnull().sum())

--- Vérification des valeurs manquantes ---
customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [13]:
# Détecter les doublons dans le DataFrame
duplicates = customers.duplicated()
duplicates

0        False
1        False
2        False
3        False
4        False
         ...
99436    False
99437    False
99438    False
99439    False
99440    False
Length: 99441, dtype: bool

In [14]:
num_duplicates = duplicates.sum()
num_duplicates

0

In [15]:
nbr_doublons = customers['customer_id'].duplicated().sum()
print(f"Nombre de doublons : {nbr_doublons}")

Nombre de doublons : 0

In [16]:
nbr_doublons = customers['customer_unique_id'].duplicated().sum()
print(f"Nombre de doublons : {nbr_doublons}")

Nombre de doublons : 3345

###  Conclusion: Pour la table dim_customers, la colonne customer_id est choisie comme véritable identifiant unique, car elle ne contient aucun doublon et peut donc être utilisée comme clé primaire.

In [17]:
customers = customers[['customer_id', 'customer_city','customer_state']]

In [18]:
customers.to_csv('Transformed_customers.csv', index=False, encoding='utf-8')

## Creation de la dimension Product

In [19]:
#  le dossier 'final_data' à la racine du projet qui va contenir les fichier nettoyés
final_data_folder = "./final_data"


products = pd.read_csv(os.path.join(data_lake_path, "products/olist_products_dataset.csv"))
order_items = pd.read_csv(os.path.join(data_lake_path, "orders/olist_order_items_dataset.csv"))

In [34]:
# Joindre les deux DataFrames sur la clé étrangère product_id
merged_data = pd.merge(order_items, products, on="product_id", how="inner")
print(len(merged_data))
# Afficher un aperçu des données fusionnées
print(merged_data.head())

# Garder uniquement les colonnes product_id, product_category_name et price
filtered_data = merged_data[["product_id", "product_category_name", "price"]]


# Afficher un aperçu des données filtrées
print(filtered_data.head())

# Sauvegarder les données filtrées dans un fichier CSV pour utilisation future
filtered_data_path = os.path.join(data_lake_path, "filtered_data.csv")
filtered_data.to_csv(filtered_data_path, index=False)


# Charger le fichier CSV filtré
filtered_data = pd.read_csv(filtered_data_path)

# Vérifier les types des colonnes
print(filtered_data.dtypes)
print(filtered_data.shape)

# Examiner le pourcentage de valeurs manquantes dans chaque colonne
missing_percentage = (filtered_data.isna().sum() / len(filtered_data)) * 100

# Afficher les résultats du pourcentage de valeurs manquantes
print("Pourcentage de valeurs manquantes avant remplacement :")
print(missing_percentage)

# Remplacer les cellules vides par NaN
filtered_data.replace("", np.nan, inplace=True)

# Remplacer les valeurs manquantes (NaN) de la colonne 'product_category_name' par 'unknown'
filtered_data['product_category_name'].fillna('unknown', inplace=True)

# Vérifier que les valeurs manquantes ont bien été remplacées
missing_percentage_after = (filtered_data.isna().sum() / len(filtered_data)) * 100
print("Pourcentage de valeurs manquantes après remplacement par la moyenne :")
print(missing_percentage_after)

# Détecter les doublons dans le DataFrame
duplicates = filtered_data.duplicated()

# Afficher le nombre de doublons
num_duplicates = duplicates.sum()
print(f"Nombre de doublons dans le DataFrame : {num_duplicates}")

# Supprimer les doublons
product_trans = filtered_data.drop_duplicates()

# Afficher le nombre de lignes après suppression des doublons
print(f"Nombre de lignes après suppression des doublons : {len(product_trans)}")
duplicates2 = product_trans['product_id'].duplicated()

# Afficher le nombre de doublons
num_duplicates2 = duplicates2.sum()

product_trans2 = filtered_data.drop_duplicates(subset=['product_id'], keep='first')

print(len(product_trans2))

print(filtered_data.shape)
print(product_trans.shape)

# Vérifier si le dossier 'final_data' existe, sinon le créer
if not os.path.exists(final_data_folder):
    os.makedirs(final_data_folder)

# Définir le chemin complet pour le fichier CSV final
output_file_path = os.path.join(final_data_folder, "transformed_products.csv")

# Sauvegarder le DataFrame après toutes les transformations dans un fichier CSV
product_trans2.to_csv(output_file_path, index=False)

112650
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  130898c0987d1801452a8ed92a670612              1
2  532ed5e14e24ae1f0d735b91524b98b9              1
3  6f8c31653edb8c83e1a739408b5ff750              1
4  7d19f4ef4d04461989632411b7e588b9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
2  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
3  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
4  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202

   shipping_limit_date  price  freight_value product_category_name  \
0  2017-09-19 09:45:35   58.9          13.29            cool_stuff
1  2017-07-05 02:44:11   55.9          17.96            cool_stuff
2  2018-05-23 10:56:25   64.9          18.33            cool_stuff
3  2017-08-07 18:55:08   58.9          16.17            cool_stuff
4  2017-08-16 22:05:11   58.9          13.29            cool_stuff

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 58.0                       598.0                 4.0
1                 58.0                       598.0                 4.0
2                 58.0                       598.0                 4.0
3                 58.0                       598.0                 4.0
4                 58.0                       598.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             650.0               28.0                9.0              14.0
1             650.0               28.0                9.0              14.0
2             650.0               28.0                9.0              14.0
3             650.0               28.0                9.0              14.0
4             650.0               28.0                9.0              14.0
                         product_id product_category_name  price
0  4244733e06e7ecb4970a6e2683c13e61            cool_stuff   58.9
1  4244733e06e7ecb4970a6e2683c13e61            cool_stuff   55.9
2  4244733e06e7ecb4970a6e2683c13e61            cool_stuff   64.9
3  4244733e06e7ecb4970a6e2683c13e61            cool_stuff   58.9
4  4244733e06e7ecb4970a6e2683c13e61            cool_stuff   58.9
product_id                object
product_category_name     object
price                    float64
dtype: object
(112650, 3)
Pourcentage de valeurs manquantes avant remplacement :
product_id               0.000000
product_category_name    1.422992
price                    0.000000
dtype: float64
Pourcentage de valeurs manquantes après remplacement par la moyenne :
product_id               0.0
product_category_name    0.0
price                    0.0
dtype: float64
Nombre de doublons dans le DataFrame : 70242
Nombre de lignes après suppression des doublons : 42408
32951
(112650, 3)
(42408, 3)

## Créer la dimension Time

In [25]:
df_orders_dataset = pd.read_csv(os.path.join(data_lake_path, "orders/olist_orders_dataset.csv"))

In [26]:
Missing_values = (df_orders_dataset.isnull().sum() / len(df_orders_dataset)) * 100
print("Pourcentage de valeurs manquantes :\n")
print(Missing_values.sort_values(ascending=False))

Pourcentage de valeurs manquantes :

order_delivered_customer_date    2.981668
order_delivered_carrier_date     1.793023
order_approved_at                0.160899
order_id                         0.000000
customer_id                      0.000000
order_status                     0.000000
order_purchase_timestamp         0.000000
order_estimated_delivery_date    0.000000
dtype: float64

In [27]:
duplicates = df_orders_dataset.duplicated()
duplicates.sum()

0

In [28]:
#df_orders_datase
df_orders_dataset["order_purchase_timestamp"]=pd.to_datetime(df_orders_dataset['order_purchase_timestamp']).dt.normalize()
df_orders_dataset["order_approved_at"]=pd.to_datetime(df_orders_dataset['order_approved_at'])
df_orders_dataset["order_delivered_carrier_date"]=pd.to_datetime(df_orders_dataset['order_delivered_carrier_date'])
df_orders_dataset["order_delivered_customer_date"]=pd.to_datetime(df_orders_dataset['order_delivered_customer_date'])
df_orders_dataset["order_estimated_delivery_date"]=pd.to_datetime(df_orders_dataset['order_estimated_delivery_date'])
 
dim_time = df_orders_dataset.drop(
    columns=[
        'customer_id', 
        'order_status',
        'order_approved_at', 
        'order_delivered_carrier_date',
        'order_delivered_customer_date',
        'order_estimated_delivery_date'
    ])
dim_time.insert(0, 'date_id', ['D' + str(i) for i in range(1, len(dim_time) + 1)])
dim_time["month"] = dim_time["order_purchase_timestamp"].dt.month
dim_time["year"] = dim_time["order_purchase_timestamp"].dt.year
dim_time["quarter"] = dim_time["order_purchase_timestamp"].dt.quarter

In [29]:
dim_time.head()

,date_id,order_id,order_purchase_timestamp,month,year,quarter
0,D1,e481f51cbdc54678b7cc49136f2d6af7,2017-10-02,10,2017,4
1,D2,53cdb2fc8bc7dce0b6741e2150273451,2018-07-24,7,2018,3
2,D3,47770eb9100c2d0c44946d9cf07ec65d,2018-08-08,8,2018,3
3,D4,949d5b44dbf5de918fe9c16f97b45f8a,2017-11-18,11,2017,4
4,D5,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-13,2,2018,1

## Création la dimension Sellers

In [28]:
base_path = os.path.abspath(r"C:\Users\omzho\OneDrive\Bureau\python\M1 BIG DATA & IA\DataLake")
file_path = os.path.join(base_path, "customers/olist_customers_dataset.csv")
sellers=pd.read_csv(os.path.join(base_path, "sellers/olist_sellers_dataset.csv"))
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [29]:
sellers.isna().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [30]:
sellers_cleaned = sellers.drop(columns=['seller_zip_code_prefix', 'seller_state'])

sellers_cleaned

                             seller_id        seller_city
0     3442f8959a84dea7ee197c632cb2df15           campinas
1     d1b65fc7debc3361ea86b5f14c68d2e2         mogi guacu
2     ce3ad9de960102d0677a81f5d0bb7b2d     rio de janeiro
3     c0f3eea2e14555b6faeea3dd58c1b1c3          sao paulo
4     51a04a8a6bdcb23deccc82b0b80742cf  braganca paulista
...                                ...                ...
3090  98dddbc4601dd4443ca174359b237166            sarandi
3091  f8201cab383e484733266d1906e2fdfa            palhoca
3092  74871d19219c7d518d0090283e03c137          sao paulo
3093  e603cf3fec55f8697c9059638d6c8eb5            pelotas
3094  9e25199f6ef7e7c347120ff175652c3b            taubate

[3095 rows x 2 columns]

In [31]:
sellers_cleaned.isna().sum()

seller_id      0
seller_city    0
dtype: int64

In [32]:
sellers_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   seller_id    3095 non-null   object
 1   seller_city  3095 non-null   object
dtypes: object(2)
memory usage: 48.5+ KB

In [33]:
sellers_cleaned['seller_id'] = sellers_cleaned['seller_id'].astype('string')
sellers_cleaned['seller_city'] =sellers_cleaned['seller_city'].astype('string')

In [34]:
sellers_cleaned.dtypes

seller_id      string
seller_city    string
dtype: object

In [35]:
dim_sellers = pd.DataFrame(sellers_cleaned)

In [36]:
final_data_folder = "./final_data"

## Création de la table des faits

In [41]:

df_orders_items = pd.read_csv(os.path.join(data_lake_path, "orders/olist_order_items_dataset.csv"))
df_products=pd.read_csv(os.path.join(data_lake_path, "products/olist_products_dataset.csv"))
df_orders_payments=pd.read_csv(os.path.join(data_lake_path, "payments/olist_order_payments_dataset.csv"))

In [44]:
etp1 = pd.merge(df_orders_dataset, df_orders_items, on="order_id", how='inner')
etp2 = pd.merge(etp1, df_products, on="product_id", how='inner')
etp3 = pd.merge(etp2, dim_time, on="order_id", how='inner')
etp4 = pd.merge(etp3, df_orders_payments, on="order_id", how='inner')



fact_sales = etp4.drop(
    columns=[
        'order_status', 
        'order_purchase_timestamp_x',
        'order_purchase_timestamp_y',
        'order_approved_at', 
        'order_delivered_carrier_date',
        'order_delivered_customer_date',
        'order_estimated_delivery_date',
        'shipping_limit_date',
        'product_category_name',
        'product_name_lenght',
        'product_description_lenght',
        'product_photos_qty',
        'product_weight_g',
        'product_length_cm',
        'product_height_cm',
        'product_width_cm',
        'price',
        'freight_value',
        'month',
        'year',
        'quarter',
        'payment_sequential',
        'payment_type',
        'payment_installments'
    ])
fact_sales = fact_sales.rename(columns={"order_item_id": "Quantity"})

In [45]:
fact_sales

,order_id,customer_id,Quantity,product_id,seller_id,date_id,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,D1,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,D1,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,D1,18.59
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,D25716,37.77
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,D26731,37.77
...,...,...,...,...,...,...,...
117596,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,1,0df37da38a30a713453b03053d60d3f7,218d46b86c1881d022bce9c68a7d4b15,D99415,748.24
117597,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,2,0df37da38a30a713453b03053d60d3f7,218d46b86c1881d022bce9c68a7d4b15,D99415,748.24
117598,cfa78b997e329a5295b4ee6972c02979,a2f7428f0cafbc8e59f20e1444b67315,1,3d2c44374ee42b3003a470f3e937a2ea,ce248b21cb2adc36282ede306b7660e5,D99433,71.04
117599,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,1,ac35486adb7b02598c182c2ff2e05254,e24fc9fcd865784fb25705606fe3dfe7,D99437,85.08
117600,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,1,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,D99441,86.86

In [46]:
fact_sales.dtypes

order_id          object
customer_id       object
Quantity           int64
product_id        object
seller_id         object
date_id           object
payment_value    float64
dtype: object

In [47]:
len(fact_sales)

117601

In [48]:
tst = pd.merge(df_orders_items, df_products, on="product_id", how='inner')

In [49]:
len(tst)

112650

In [50]:
duplicates = tst.duplicated()
duplicates.sum()

0

### Création de la table de dim orders

In [32]:
dim_orders = df_orders_dataset[["order_id","order_status"]]

dim_orders.to_csv('dim_order.csv',index=False,encoding="utf-8")

In [33]:
dim_orders

                               order_id order_status
0      e481f51cbdc54678b7cc49136f2d6af7    delivered
1      53cdb2fc8bc7dce0b6741e2150273451    delivered
2      47770eb9100c2d0c44946d9cf07ec65d    delivered
3      949d5b44dbf5de918fe9c16f97b45f8a    delivered
4      ad21c59c0840e6cb83a9ceb5573f8159    delivered
...                                 ...          ...
99436  9c5dedf39a927c1b2549525ed64a053c    delivered
99437  63943bddc261676b46f01ca7ac2f7bd8    delivered
99438  83c1379a015df1e13d02aae0204711ab    delivered
99439  11c177c8e97725db2631073c19f07b62    delivered
99440  66dea50a8b16d9b4dee7af250b4be1a5    delivered

[99441 rows x 2 columns]